#summary-val {
    color: #206ccc;
    letter-spacing: 0.5px;
}

.issue-header .issue-header-content>.aui-page-header, .issue-header .issue-header-content>.command-bar, .issue-body-content {
    background: whitesmoke;
}

.issue-body-content .module>.mod-header>h1, .issue-body-content .module>.mod-header>h2, .issue-body-content .module>.mod-header>h3, .issue-body-content .module>.mod-header>h4, .issue-body-content .module>.mod-header>h5, .issue-body-content .module>.mod-header>h6 {
    background-color: #f5f5f5;
}

.mod-content {
    padding: 10px 20px !important;
    background: #fff;
    border-radius: 10px;
    letter-spacing: 0.3px;
    line-height: 25px;
    font-weight: 300;
    box-shadow: 3px 5px 5px #c7c9ca;
    border: 1px solid #dcdcdc
}

.aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger {
    box-sizing: border-box;
    background: #797676;
    border: 1px solid transparent;
    color: #f5f5f5;
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    text-decoration: none;
    vertical-align: baseline;
    height: auto;
    text-shadow: none;
    text-indent: 0;
    width: auto;
    float: left;
    border-radius: 5px;
    letter-spacing: 0.6px;
}

.container .issue-header .issue-header-content .command-bar {
    border-top: 1px solid black;
    box-shadow: 1px 3px 10px #c3bfbf;
    margin-bottom: 15px;
}

.aui-toolbar .aui-icon {
    color: #ffffff;
}

ul.labels li .lozenge {
    border: 1px solid #b1d0ef !important;
    border-radius: 20px;
}

ul.labels li .lozenge {
    background: #dfefff;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    max-width: 100%;
    overflow-x: hidden;
    padding: 1px 5px;
    margin: 0 3px 0 0;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stickySLA {
    position: fixed;
    top: 50px;
    margin-right: 15px;
}

.stickyPeople {
    position: fixed;
    top: 423px;
    margin-right: 15px;
}

.stickyGovernator {
    position: fixed;
    top: 240px;
    margin-right: 15px;
}

.sd-customer-portal-panel .sd-rt-preview {
    padding-top: 0px;
}
.stickyCustomerPortalLink {
    position: fixed;
    top: 0px;
    right: 25%;
    padding: 0;
    margin: 5px;
}

.stickyCustomerPortalLink a {
    color: #fff !important;
}

/*removes side left panel of the dashboard*/
#dashboard>.vertical.tabs+#dashboard-content {
    transition: 0.45s;
}

.removeSidePanel {
    margin-left: 0 !important; 
}

.sidebar-button {
    height: 25px;
    width: 25px;;
    background: #dfe1e6;
    color: #000;
    font-size: 22px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 175px;
    transition: 0.45s;
    
}

.sidebar-button:hover {
    background: #000;
    color: #fff;
}

.slide-sidebar-button {
    left: 10px;
}

